# Phase 1
PyPDF2==1.26.0  # PDF_scrape
dropbox~=11.0.0
click==7.1.2

# Phase 2 verified
gspread~=3.6.0
gspread-dataframe==3.2.0
luigi~=3.0.2
numpy==1.19.3 # instead of 1.19.4 till https://developercommunity.visualstudio.com/content/problem/1207405/fmod-after-an-update-to-windows-2004-is-causing-a.html
pandas==1.2.0
pytest
requests==2.25.1
scipy==1.6.0
pdfplumber==0.5.25 # still checking though